<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/logoapolo.png">
    <title>APOLOdx</title>

    <!--link referencia a estilo del menu-->
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <header>    
    <div class="logo">
            <a href="../views/index.html">
                <img src="../img/logoapolo.png" alt="logo apolodx" width="100">
            </a>
        </div>
        <nav>
            <ul Class="menu">
                <li><a href="../views/productos.html">Productos</a></li>
                <li><a href="../views/nosotros.html">Nosotros</a></li>
                <li><a href="../views/plataforma.html">Plataforma</a></li>
                <li><a href="../views/contacto.html">Contacto</a></li>
                <li><a href="../views/FAQ.html">FAQ</a></li>
            </ul>
        </nav>
        </header>
        

    <section>
    
</div>
<img class="i4" src="../img/plataanimado.png" alt="productos de la plataforma" width="600">
<div>
            <ul Class="NP1">
                <div class="productos">
                    <li>Arrendamiento</li>
                </div>
                <div class="productos">
                    <li>Factoraje</li>
                </div>
                <div class="productos">
                    <li>PYME</li>
                </div>
                <div class="productos">
                    <li>Lineas Personales</li>
                </div>
                <div class="productos">
                    <li>Lineas Revolventes</li>
                </div>
                <div class="productos">
                    <li>Crédito Hipotecario</li>
                </div>
                <div class="productos">
                    <li>Crédito Simple</li>
                </div>
                <div class="productos">
                    <li>Agroindustria</li>
                </div>
                <div class="productos">
                    <li>Crédito Puente</li>
                </div>
                <div class="productos">
                    <li>Nomina</li>
                </div>
                <div class="productos">
                    <li>Inversiones</li>
                </div>
                <div class="productos">
                    <li>Telecomunicaciónes</li>
                </div>
        </div>
    
    
    </section>
        
        <!--INICIO DEL COMPARADOR-->
        <section>
            <div>
                <h1>
                    Ventaja de nuestros productos
                </h1>
                <div Class="CP">

                
                <div class="competencia">
                <h3>
                Competencia
                </h3>
                <li>Los montos del crédito son limitados.</li>
                <li>Cada vez que quieres solicitar un nuevo crédito necesitas llevar de nuevo toda la información.</li>
                <li>Tiempos de respuesta largos.</li>
                <li>Solo manejan de 1 a 3 tipos de financiamientos.</li>
                <li>Solo puedes cotizar a la vez con una sola fianciera.</li>
                </div>
                
                <div class="nosotros">
                <h3>
                Nosotos
                </h3>
                <li>Sin limites de montos.</li>
                <li>Guardamos tu información por lo que solo será necesario actuulizarla en tu nuevo financiamiento.</li>
                <li>Tiempo de repuesta en tiempo record.</li>
                <li>Manejamos más de 50 productos fiancieros.</li>
                <li>Trabajamos con más de 50 fiancieras.</li>
                </div>
            </div>
            </div>
        </section>

        <!--INICIO DEL TIPOS DE CLIENTES-->
        <section>
            <div>
                <h1>
                    TIPOS DE CLIENTES
                </h1>

                <div Class="TC">
                
                <div class="broker">
                
                    BROKER
                
                <P>Si tu tienes una cartera de clientes existentes pero solo ofreces un producto financiero o solo trabajas con una
                financiera, nosotros somos tu solución, ofrece a tus clientes más de 50 productos financieros dándoles un servicio 100%
                personalizado y digital. Genera una comisión por cada cliente que ingreses a tu plataforma. Sin inversión inicial.
                Empieza a ofrecer más a tus clientes y muestra una cara más profesional. Ofrecemos capacitaciones constantes,
                promociones únicas y asesoría 24/7 para ti y tus clientes.</P>
                
                </div>

            <div class="distribuidor">
                    DISTRIBUIDOR
                
                <P>Si tu tienes una cartera de clientes existentes pero solo ofreces un producto financiero o solo trabajas con una
                financiera, nosotros somos tu solución, ofrece a tus clientes más de 50 productos financieros dándoles un servicio 100%
                personalizado y digital. Genera una comisión por cada cliente que ingreses a tu plataforma. Sin inversión inicial.
                Empieza a ofrecer más a tus clientes y muestra una cara más profesional. Ofrecemos capacitaciones constantes,
                promociones únicas y asesoría 24/7 para ti y tus clientes.
                
                Vende más a contado y ayuda a tu cliente a obtener de una manera rápida y sencilla el financiamiento para su maquinaria.</P>
                
                    </div>

                <div class="financiera">
                    FINANCIERA
                
                <P>Tenemos a tu cliente ideal, agenda una cita con nuestro equipo y cuéntanos cual es tu cliente perfecto, date de alta con
                nosotros para poder ofrecer tus crédito y promociones. Nuestro perfilador estará enviando constantemente clientes
                nuevos, clientes que se adapten a tus condiciones de crédito.
                
                Nuestra meta es conectar financieras, SOFOMES y bancos con clientes de diversos rubros.</P>
</div>
            </div>
            </div>
        </section>
        </article>

        <!--Empieza el footer-->
        <section>
            <div class="contacto">
            <div class="logo">
                <a href="../index.html">
                    <img src="../img/logoapolo.png" alt="logo apolodx" width="100">
                </a>
            </div>
            <h2>
                DATOS DE LA EMPRESA
            </h2>
            <br>
            APOLO Dx es una plataforma especializada en administración, acreditación y comercilización más completa del mercado.
            <br>
            Otorgando al cliente seguirdad, control y especialización en créditos.
            <br>

            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14929.109763864728!2d-103.37028165!3d20.6989555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428ae3a55454671%3A0xa0746487dcb9b9d!2sGlorieta%20Col%C3%B3n!5e0!3m2!1ses!2smx!4v1653402663154!5m2!1ses!2smx"
                width="300" height="150" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>"
            <ul Class="menu">
            <li><a href="../views/productos.html">Productos</a></li>
            <li><a href="../views/nosotros.html">Nosotros</a></li>
            <li><a href="../views/plataforma.html">Plataforma</a></li>
            <li><a href="../views/contacto.html">Contacto</a></li>
            <li><a href="../views/FAQ.html">FAQ</a></li>
                <li><a href="#terminos y condiciones">Terminos y condiciones</a></li>
                <li><a href="#Aviso de privacidad">Aviso de privacidad</a></li>
            </ul>
            </div>
        </section>
</body>
</html>